html {
	position: relative;
}
p, h2, h5 {
	color:  rgb(44, 41, 41);;
}

.body {
	min-height: 300px;
	margin: auto;

}
img{
    border-radius:50%;
	width:250px;
	box-shadow: 7px 7px 10px 2px #696969;
}


.timelin-img {
	width: 200;
	border: 5px solid #666;
	background-color: #eee;
	border-radius: 100%;
}

.container {
	width: 200;
	/* position: center; */
	background-color: #eee
}
.container h2 {
	text-align: center;
}

hr {
	width: 250px;
	border-top: 3px solid #999;
	box-shadow: 3px 3px 7px 1px #696969;
}

section {
	min-height: 300px;
}

#contact {
	/* background-image: url('/img/new-bg-about.jpg'); */
	/* min-height: 300px; */
	background: #37988e;
	text-align: center;
	
}
.contact h2 {
	text-align: center;
}

nav {
	margin: auto;
	text-align: center;
	width: 100%;
	font-family: arial;
}

nav ul {
	background: #37988e;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #ADD8E6;
}

nav ul li:hover a {
	color: rgb(44, 41, 41);
}

nav ul li a {
	display: block;
	padding: 25px;
	color: #fff;
	text-decoration: none;
}

.img-thumbnail {
	width: 1px;
}

.footer {
	margin: auto;
	text-align: center;
	width: 100%;
	font-family: arial;
	background: #37988e;
	display: block;
	padding: 25px;
}

.ft {
	color: #fff;
}
.form-group {
	color: #fff;
}

.ms {
	margin-bottom: 50px;
	/* text-align: center; */
}

input[type=text],select,textarea{
    width:90%;
    padding:12px;
    border:1pxsolid#ccc;
    border-radius:4px;
    resize:vertical;
}
label{
    padding:12px 12px 12px 0px;
	display:inline-block;
	color:  rgb(44, 41, 41);;
}
input[type=submit]{
    background-color:#37988e;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    float:right;
}
input[type=submit]:hover{
	background-color:#72ced4;
	box-shadow: 7px 7px 10px 2px #696969;
}
.container{
    border-radius: 0px 0px 15px 15px;
    background-color:#f2f2f2;
    padding:20px;
    margin:auto;
}

.col-25{
    float:left;
    width:25%;
    margin-top:6px;
}
.col-75{
    float:left;
    width:75%;
    margin-top:6px;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
#home{
	text-align: center;
	
}
.about h2 {
	text-align: center;
}
.justify{
	text-align: justify;
} 